    :root{
    --activeColor: #fff385;
    --backgroundColor: #3a3937;
    --mysetRadius: 1vh 3vh 1vh 3vh;
    --setButtonRadius: 1vh 1vh 1vh 1vh;

}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--backgroundColor);
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.lightzone{
    height: 7vh;
    width: 7vh;
    margin: 0.5vh;
    border:0.3vh solid var(--activeColor);
    background-color: var(--backgroundColor);
    border-radius: var(--setButtonRadius);
}
.lightzone:isOn{
    box-shadow: 0 0 0.5vh var(--activeColor);
}
.lightslider{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin: 2vw;
    width: 80vw;
    height: 8vh;
    border: .1vh solid var(--activeColor);
    background: rgba(252, 240, 130, 0.05);;
    border-radius: var(--mysetRadius);
    
}
.lightslider::-moz-range-thumb {
    width: 8vh; /* Set a specific slider handle width */
    height: 8vh; /* Slider handle height */
    
    border: var(--backgroundColor) solid 0.1vh;
    background:var(--activeColor); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: var(--mysetRadius);
}
.lightslider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 8vh; /* Set a specific slider handle width */
    height: 8vh; /* Slider handle height */
    border-radius: var(--mysetRadius);
    border: var(--backgroundColor) solid 0.1vh;
    background: var(--activeColor); /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.switch {
    position: relative;
    display: inline-block;
    margin:2vh;
    width: 16vh;
    height: 8vh;
}

    /* Hide default HTML checkbox */
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }

    /* The slider */
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 6vh;
    width: 6vh;
    left: 1vh;
    bottom: 1vh;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: var(--activeColor);
    box-shadow: 0 0 0.5vh var(--activeColor);
    }


    input:checked + .slider:before {
    -webkit-transform: translateX(8vh);
    -ms-transform: translateX(8vh);
    transform: translateX(8vh);
    }
